.burger-menu-container {
  width: 150px;
  position: fixed;
  right: 8.3vw;
  top: 60px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.05);
  //   padding-top: 10px;
  overflow: hidden;

  .burger-menu-item {
    width: 100%;
    line-height: 40px;
    letter-spacing: 0.5px;
    padding-left: 20px;

    &:hover {
      background: #eeeeee;
    }
  }

  .burger-sign-up-button {
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.5px;
    padding-left: 20px;
    text-align: left;
    border: 0;
    color: #ffffff;
    background: #03b3a1;
  }
}
